In [1]:
import statistics
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Experiment 1.csv')
df

    Cumulative delay  Vehicle Queue Lenght  Reward
0              59538             11.025556  -36812
1              54316             10.058519  -30082
2              44575              8.254630  -24979
3              48391              8.961296  -27798
4              50483              9.348704  -28511
..               ...                   ...     ...
95             18889              3.497963   -5588
96             18422              3.411481   -4786
97             20586              3.812222   -5840
98             34505              6.389815   -8317
99             18630              3.450000   -5682

[100 rows x 3 columns]

In [3]:
df.mean()

Cumulative delay        30329.960000
Vehicle Queue Lenght        5.616659
Reward                 -12566.400000
dtype: float64

In [4]:
df.var()

Cumulative delay        8.398729e+07
Vehicle Queue Lenght    2.880222e+00
Reward                  4.253163e+07
dtype: float64

In [5]:
df.std()

Cumulative delay        9164.457707
Vehicle Queue Lenght       1.697122
Reward                  6521.628100
dtype: float64

In [6]:
df2 = pd.read_csv('Experiment 2.csv')
df2

    Cumulative delay  Vehicle Queue Length   Reward
0              47909              8.872037   -26851
1              55420             10.262963   -32594
2              46591              8.627963   -24534
3              43354              8.028519   -22327
4              49979              9.255370   -27664
..               ...                   ...      ...
95           2542464            470.826667 -2401095
96           2198248            407.082963 -2119158
97           2787651            516.231667 -2691845
98           2490389            461.183148 -2436575
99           2497573            462.513518 -2476235

[100 rows x 3 columns]

In [7]:
df2.mean()

Cumulative delay        523722.730000
Vehicle Queue Length        96.985691
Reward                 -444833.790000
dtype: float64

In [9]:
df2.var()

Cumulative delay        4.738312e+11
Vehicle Queue Length    1.624936e+04
Reward                  4.264678e+11
dtype: float64

In [10]:
df2.std()

Cumulative delay        688354.006490
Vehicle Queue Length       127.472964
Reward                  653045.021689
dtype: float64